<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".VoxaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".PlaceholderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MathQuiz"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TicTacToe"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EvenOrOdd"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RockPaperScissors"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GameHubActivity"
            android:exported="false" />
        <activity
            android:name=".notifications"
            android:exported="false" />
        <activity
            android:name=".chats"
            android:exported="false" />
        <activity
            android:name=".ui.activities.winActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.guessTheNumber"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".signupTab"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profilePage"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.loginTab"
            android:exported="true" />
        <activity
            android:name=".ui.activities.ChatListActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.ChatDetailFirestoreActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.ChatListActivity" />
        <activity
            android:name=".ui.activities.FollowersListActivity"
            android:exported="false"
            android:parentActivityName=".profilePage" />
        <activity
            android:name=".ui.activities.FollowingListActivity"
            android:exported="false"
            android:parentActivityName=".profilePage" />
    </application>

</manifest>